<h1>Listing metas</h1>

<table>
  <tr>
    <th>Keywords</th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>

<% @metas.each do |meta| %>
  <tr>
    <td><%= meta.keywords %></td>
    <td><%= meta.description %></td>
    <td><%= link_to 'Editar', edit_meta_path(meta) %></td>
    <td><%= link_to 'Eliminar', meta, :confirm => '¿Estás seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% if @metas.empty? %>
  <%= link_to 'Nuevos Metas', new_meta_path %>
<% end %>