<%= form_for(@oferta, :html => { :multipart => true }) do |f| %>
  <% if @oferta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@oferta.errors.count, "error") %> prohibited this oferta from being saved:</h2>

      <ul>
      <% @oferta.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :oferta, "Imagen" %><br />
    <%= f.file_field :oferta %>
  </div>

  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>
<% end %>
