<div id="content" class="region grid_8 alpha omega tab">
  <h2 class="title">
    <%= page_title! 'Promociones' %>
  </h2>
  <% if @promociones.empty? %>
  <p>
    No hay ninguna promoción.
  </p>
  <% end %>
</div>

<div id="content-bottom" class="region">
  <% if @promociones.empty? and current_admin %>
    <%= link_to 'Nueva Promoción', new_promocion_path, :class => 'btn' %>
  <% end %>
  <ul>
    <% @promociones.each do |promocion| %>
      <li>
        <h3><%= promocion.nombre %></h3>
        <% if promocion.video_link.empty? %>
          <%= link_to image_tag(promocion.publicidad(:regular)), promocion %>
        <% else %>
          <%= promocion.video_link_html %>
        <% end %>
        <% if can? :manage, Promocion %>
        <div>
          <%= link_to 'Editar', edit_promocion_path(promocion), :class => 'btn' %>
          <%= link_to 'Eliminar', promocion, :confirm => '¿Estás seguro?', :method => :delete, :class => 'btn' %>
        </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>



