<div id="content" class="region grid_8 omega region">
<h1>Listando contactos</h1>
<%= link_to 'Descargar Contactos en Excel', contactos_path(request.parameters.merge({:format => :xls})), :class => 'btn' %>
<table>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Email</th>
    <th>Telefono</th>
    <th>Ciudad</th>
    <th>País</th>
    <th></th>
    <th></th>
  </tr>

<% @contactos.each do |contacto| %>
  <tr class="items-list">
    <td><%= truncate(contacto.nombre, :length => 16) %></td>
    <td><%= truncate(contacto.apellido, :length => 16) %></td>
    <td><%= truncate(contacto.email, :length => 16) %></td>
    <td><%= truncate(contacto.telefono, :length => 12) %></td>
    <td><%= truncate(contacto.ciudad, :length => 16) %></td>
    <td><%= image_tag '/images/countries-flags/flag-' + I18n.locale.to_s  + '.png', :class => 'flag' %></td>
    <td><%= link_to 'Ver', contacto, :class => 'btn' %></td>
    <td><%= link_to 'Eliminar', contacto, :confirm => '¿Estás seguro?', :method => :delete, :class => 'btn' %></td>
  </tr>
<% end %>
</table>
</div>
