<h1>Listing contactos</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Email</th>
    <th>Telefono</th>
    <th>Direccion</th>
    <th>Distrito</th>
    <th>Ciudad</th>
    <th>Provincia</th>
    <th>País</th>
    <th>Mensaje</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contactos.each do |contacto| %>
  <tr>
    <td><%= contacto.nombre %></td>
    <td><%= contacto.apellido %></td>
    <td><%= contacto.email %></td>
    <td><%= contacto.telefono %></td>
    <td><%= contacto.direccion %></td>
    <td><%= contacto.distrito %></td>
    <td><%= contacto.ciudad %></td>
    <td><%= contacto.provincia %></td>
    <td><%= contacto.pais %></td>
    <td><%= contacto.mensaje %></td>
    <td><%= link_to 'Ver', contacto %></td>
    <td><%= link_to 'Editar', edit_contacto_path(contacto) %></td>
    <td><%= link_to 'Eliminar', contacto, :confirm => '¿Estás seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>