<%= form_for(@banner, :html => { :multipart => true }) do |f| %>
  <% if @banner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@banner.errors.count, "error") %> prohibited this banner from being saved:</h2>

      <ul>
      <% @banner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :banner, "Imagen" %><br />
    <%= f.file_field :banner %>
  </div>

  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>
<% end %>
