<h1>Listando recetas</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Ingredientes</th>
    <th>Preparacion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recetas.each do |receta| %>
  <tr>
    <td><%= link_to receta.nombre, receta %></td>
    <td><%= receta.ingredientes %></td>
    <td><%= receta.preparacion %></td>

    <% if can? :manage, Receta %>
    <td><%= link_to 'Editar', edit_receta_path(receta) %></td>
    <td><%= link_to 'Eliminar', receta, :confirm => '¿Estás seguro?', :method => :delete %></td>
    <% end %>

  </tr>
<% end %>
</table>

<br />

<% if @recetas.empty? %>
  <% if can? :manage, Receta %>
  <%= link_to 'Nueva receta', new_receta_path, :class => 'btn' %>
  <% end %>
<% end %>