<%= image_tag @receta.snapshot(:regular) %>

<p>
  <b>Nombre:</b>
  <%= @receta.nombre %>
</p>

<p>
  <b>Ingredientes:</b>
  <%= @receta.ingredientes %>
</p>

<p>
  <b>Preparacion:</b>
  <%= @receta.preparacion %>
</p>


<%= link_to 'Editar', edit_receta_path(@receta) %> |
<%= link_to 'Atrás', recetas_path %>
