<p>
  <b>Nombre:</b>
  <%= @receta.nombre %>
</p>

<p>
  <b>Ingredientes:</b>
  <%= @receta.ingredientes %>
</p>

<p>
  <b>Preparacion:</b>
  <%= @receta.preparacion %>
</p>

<% if can? :manage, Receta %>
<%= link_to 'Editar', edit_receta_path(@receta), :class => 'btn' %>
<% end %>
<%= link_to 'Atrás', recetas_path, :class => 'btn' %>
