<% unless current_usuario %>
<div id="preface-top" class="region">
  <%= render 'home/slides' %>
</div><!-- END: preface-top -->
<% end %>

<div id="content" class="region">
  <div class="block">
    <h2 class="title">Lanzamientos LAIN</h2>
    <%= render 'home/banner' %>
    <%= render 'home/ad' %>
  </div>
</div>

<% page_title! 'LAIN, Líder mundial en Adelgazamiento' %>

<% if !current_usuario %>
 <div id="postscript-top" class="region">
  <%=  render 'home/testimonio' %>
  <div id="spectropach" class="block">
    <img src="/images/images/box-4.png" />
    <h2>SPECTROPACH</h2>
          <p>
            El "parche", es nuestro exclusivo gel fitoactivo que complementa 
            el adelgazamiento coordinado por nuestro equipo profesional...
          </p>
          <%= link_to 'Leer Más', metodo_path, :class => 'btn read-more' %>
  </div>
  <div class="block">
          <img src="/images/images/box-5.png" />
          <h2>THERMOGÉNESIS</h2>
          <p>            
            Es una solución criogénica de acción residual, que opera el día 
            de su aplicación disminuyendo las zonas...
          </p>
          <%= link_to 'Leer Más', metodo_path, :class => 'btn read-more' %>
  </div>
</div>
<% end %>


<div id="content-bottom">
  <div id="content-bottom-inner">

	<% if current_usuario %>
    <div id="block-promociones" class="block">
      <h2 class="title">Promociones</h2>
      <div class="content">      
      </div>
    </div>
    <% end %>

    <% if current_usuario or I18n.locale != :pe %>
    <% if @receta %>
    <div id="block-receta" class="block">
      <h2 class="title">La Receta Saludable</h2>
      <div class="inner">
        <div class="content">
	      <h2><%= @receta.nombre %></h2>
          <h3>Ingredientes</h3>
          <p>
            <%= @receta.ingredientes %>
          </p>
          <h3>Preparación</h3>
          <p>
            <%= @receta.preparacion %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <% end %>


    <div id="facebook-widget" class="grid_3 alpha omega">
      <h2 class="title">Socializemos</h2>
	<% if @informacion %>
	  <div class="fb-like-box" data-href="<%= @informacion.facebook %>" data-width="237" data-height="472" data-show-faces="true" data-stream="false" data-header="true"></div>
    <% end %>
    </div>


  <% end %>

  <% if current_usuario %>
  <div id="sidebar-second" class="grid_3 alpha omega">
    <div id="oferta-mes" class="block">
      <h2 class="title">Oferta del Mes</h2>
      <%= render 'home/oferta' %>
    </div>
  </div>
  <% end %>

</div>
    
<div id="postscript-bottom" class="region">
  <% if !current_usuario %>
  <div class="block">
	<div class="inner">
    <p>
      LAIN, es un Centro Médico que realiza tratamientos contra la obesidad. 
      La obesidad es una patología médica que se define como un exceso de tejido 
      graso en el organismo de una persona. En esta acumulación de tejido graso influyen dos 
      factores que son determinantes en esta condición; que son la predisposición genética a ser 
      obeso y un desajuste en los hábitos alimenticios del individuo que le hace perder el equilibrio 
      necesario que debe existir entre el volumen (cantidad) y la composición (variedad de nutrientes) 
      que debe existir en la alimentación de cualquier persona.          
    </p>
    </div>
  </div>
  <% end %>
</div>  



<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=171330932924716";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>











