<% if !current_usuario %>
<div id="preface-top" class="region">
  <%= render 'home/slides' %>
</div><!-- END: preface-top -->
<% end %>

<div id="content" class="region">
  <div class="block">
    <h2 class="title">Lanzamientos Lain</h2>
    <%= render 'home/banner' %>
    <%= render 'home/ad' %>
  </div>
</div>

<% if current_usuario %>
<div id="content-bottom">
  <div id="content-bottom-inner">
    <div id="block-promociones" class="block">
      <h2 class="title">Promociones</h2>
      <div class="content">      
      </div>
    </div>
    <div id="block-receta" class="block">
      <h2 class="title">La Receta Saludable</h2>
      <div class="inner">
        <div class="content">
          <h3>Ingredientes</h3>
          <p>
            <%= @recetas.ingredientes %>
          </p>
          <h3>Preparación</h3>
          <p>
            <%= @recetas.preparacion %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="sidebar-second" class="grid_3 alpha omega">
    <div id="oferta-mes" class="block">
      <h2 class="title">Oferta del Mes</h2>
    </div>
  </div>
</div>
<% end %>

<% if !current_usuario %>
 <div id="postscript-top" class="region">
  <%=  render 'home/testimonio' %>
  <div class="block">
    <img src="images/images/box-4.png" />
    <h2>SPECTROPACH</h2>
          <p>
            El "parche", es nuestro exclusivo gel fitoactivo que complementa 
            el adelgazamiento coordinado por nuestro equipo profesional,...
          </p>
          <a class="btn read-more">Leer M&aacute;s</a>
  </div>
  <div class="block">
          <img src="images/images/box-5.png" />
          <h2>TERMOGÉNESIS</h2>
          <p>            
            Es una solución criogénica de acción residual, que opera el día 
            de su aplicación y al día... disminuyendo las zonas flácidas y ayudando a la tonificación muscular.
          </p>
          <a class="btn read-more">Leer M&aacute;s</a>
  </div>
</div>
<% end %>
    
<div id="postscript-bottom" class="region">
  <% if !current_usuario %>
  <div class="block">
    <p>
      LAIN, es un Centro Médico que realiza tratamientos contra la obesidad. 
      La obesidad es una patología médica que se define como un exceso de tejido 
      graso en el organismo de una persona. En esta acumulación de tejido graso influyen dos 
      factores que son determinantes en esta condición; que son la predisposición genética a ser 
      obeso y un desajuste en los hábitos alimenticios del individuo que le hace perder el equilibrio 
      necesario que debe existir entre el volumen (cantidad) y la composición (variedad de nutrientes) 
      que debe existir en la alimentación de cualquier persona.          
    </p>
  </div>
  <% end %>
</div>  













