<%= form_for(@entrada, :html => { :multipart => true }) do |f| %>
  <% if @entrada.errors.any? %>
    <div id="error_explanation">
      <h3>No se pudo guardar la entrada por <%= pluralize(@contacto.errors.count, "error") %>:</h3>

      <ul>
      <% @entrada.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :contenido %><br />
    <%= f.text_area :contenido %>
  </div>
  <div class="field">
    <%= f.label :foto %><br />
    <%= f.file_field :foto %>
  </div>
  <div class="actions">
    <%= f.submit "Publicar" %>
  </div>
<% end %>
