<h1>Listing entradas</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Contenido</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entradas.each do |entrada| %>
  <tr>
    <td><%= entrada.titulo %></td>
    <td><%= entrada.contenido %></td>
    <td><%= link_to 'Show', entrada %></td>
    <td><%= link_to 'Edit', edit_entrada_path(entrada) %></td>
    <td><%= link_to 'Destroy', entrada, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entrada', new_entrada_path %>
