<section id="content" class="region">
<h2 class="title"><%= page_title! 'Blog' %></h2>

<% if current_admin %>
<div class="admin-controls">
<%= link_to 'Agregar Nuevo Artículo', new_entrada_path, :class => 'btn new' %>
</div>
<% end %>

<% @entradas.each do |entrada| %>
<article>
  <%= link_to image_tag(entrada.foto(:thumb)), entrada %>
  <h3><%= link_to entrada.titulo, entrada %></h3>
  <span class="date"><%= entrada.created_at.strftime("%A, %d de %B") %></span>
  <%= sanitize(simple_format(truncate(entrada.contenido, :length => 250, :omission => '...')), :tags => %w(p i br b)) %>
  <%= link_to 'Leer Más', entrada, :class => 'btn read-more' %>

  <% if current_admin %>
    <div class="admin-controls">
      <%= link_to 'Editar', edit_entrada_path(entrada), :class => 'btn edit' %>
      <%= link_to 'Eliminar', entrada, :confirm => '¿Estás seguro?', :method => :delete, :class => 'btn del' %>
    </div>
  <% end %>
</article>
<% end %>
</section>