<h1>Listing entradas</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Contenido</th>
    <th></th>
    <th></th>
  </tr>

<% @entradas.each do |entrada| %>
  <tr>
	 <td><%= link_to entrada.titulo, entrada %></td>
    <td><%= entrada.contenido %></td>
    <td><%= link_to 'Editar', edit_entrada_path(entrada) %></td>
    <td><%= link_to 'Eliminar', entrada, :confirm => '¿Estás seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Entrada', new_entrada_path %>
