<p>
  <b>Titulo:</b>
  <%= @entrada.titulo %>
</p>

<p>
  <b>Contenido:</b>
  <%= @entrada.contenido %>
</p>

<p>
  <%= image_tag @entrada.foto(:regular) %>
</p>

<% if current_admin %>
<%= link_to 'Editar', edit_entrada_path(@entrada) %>
<% end %>
| <%= link_to 'Atrás', entradas_path %>
