<p>
  <b>Titulo:</b>
  <%= @entrada.titulo %>
</p>

<p>
  <b>Contenido:</b>
  <%= @entrada.contenido %>
</p>

<p>
  <%= image_tag @entrada.foto(:regular) %>
</p>


<%= link_to 'Editar', edit_entrada_path(@entrada) %> |
<%= link_to 'Atrás', entradas_path %>
