<%= form_for(@computest) do |f| %>
  <% if @computest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@computest.errors.count, "error") %> prohibited this computest from being saved:</h2>

      <ul>
      <% @computest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :imc %><br />
    <%= f.text_field :imc %>
  </div>
  <div class="field">
    <%= f.label :peso_ideal %><br />
    <%= f.text_field :peso_ideal %>
  </div>
  <div class="field">
    <%= f.label :usuario_id %><br />
    <%= f.text_field :usuario_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
