<div id="content" class="region grid_8 omega region">
  <h2 class="title"><%= page_title! "Computest" %></h2>


<% @computests.each do |computest| %>
  <tr>
    <td><%= computest.nombre %></td>
    <td><%= computest.apellido %></td>
    <td><%= computest.email %></td>
    <td><%= computest.telefono %></td>
    <td><%= computest.peso %></td>
    <td><%= computest.altura %></td>
    <td><%= computest.imc %></td>
    <td><%= computest.peso_ideal %></td>
    <td><%= computest.estado %></td>
    <td><%= computest.pais %></td>
    <td><%= link_to 'Ver', computest %></td>
    <td><%= link_to 'Editar', edit_computest_path(computest) %></td>
    <td><%= link_to 'Eliminar', computest, :confirm => '¿Estás seguro?', :method => :delete %></td>
  </tr>
<% end %>
