<div id="content" class="region grid_8 omega region">
<h1><%= page_title! "Listando computests" %></h1>
<%= link_to 'Descargar Computests en Excel', computests_path(request.parameters.merge({:format => :xls})), :class => 'btn' %>
<table>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Email</th>
    <th>Telefono</th>
    <th>IMC</th>
    <th>País</th>
    <th></th>
    <th></th>
  </tr>

<% @computests.each do |computest| %>
  <tr class="items-list">
    <td><%= truncate(computest.nombre, :length => 16) %></td>
    <td><%= truncate(computest.apellido, :length => 16) %></td>
    <td><%= truncate(computest.email, :length => 16) %></td>
    <td><%= truncate(computest.telefono, :length => 12) %></td>
    <td><%= computest.imc %></td>
    <td><%= image_tag '/images/countries-flags/flag-' + computest.pais  + '.jpg', :class => 'flag' %></td>
    <td><%= link_to 'Ver', computest, :class => 'btn' %></td>
    <td><%= link_to 'Eliminar', computest, :confirm => '¿Estás seguro?', :method => :delete, :class => 'btn' %></td>
  </tr>
<% end %>

</table>

</div>