<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @computest.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @computest.apellido %>
</p>

<p>
  <b>Peso:</b>
  <%= @computest.peso %>
</p>

<p>
  <b>Altura:</b>
  <%= @computest.altura %>
</p>

<p>
  <b>Índice de masa corporal (IMC):</b>
  <%= @computest.imc %>
</p>

<p>
  <b>Peso ideal:</b>
  <%= @computest.peso_ideal %>
</p>

<p>
  <b>Estado:</b>
  <%= @computest.estado %>
</p>


<%= link_to 'Atrás', computests_path %>
