<div id="content" class="region grid_8 omega region">
  <h2 class="title"><%= page_title! "Computest" %></h2>
  <h3>Resultado para <%= @computest.nombre + ' ' + @computest.apellido %></h3>

  <div class="field">
    <p>Índice de Masa Corporal (IMC)<span><%= @imc %></span></p>	
  </div>

  <div class="field">
    <p><%= @peso_ideal %><br />Tu estado es <span><%= @estado %></span></p>	
  </div>


<%= link_to 'Atrás', new_computest_path, :class => 'btn back' %>

</div>


