<h2 class="title"><%= page_title! 'Recuperar Contraseña' %></h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "Enviar a mi correo instrucciones para recuperar mi contraseña" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>