<div id="content">
<h2 class="title"><%= page_title! 'Recuperar Contraseña' %></h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, "E-mail" %>
    <%= f.email_field :email %>
  </div>

  <div class="actions">
    <%= f.submit "Enviar" %>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>

</div>