<% content_for :javascript do %>
  <%= stylesheet_link_tag '/javascripts/libs/lightbox/themes/white-green/jquery.lightbox.css' %>
  <%= javascript_include_tag '/javascripts/libs/lightbox/jquery.lightbox.min.js' %>
  <script type="text/javascript">
    $(document).ready(function() {
      jQuery('.lightbox').lightbox();
    })
  </script>
<% end %>


<section id="content" class="region">
<h2 class="title"><%= page_title! 'Productos' %></h2>

<% if can? :manage, Producto %>
  <div class="admin-controls">
    <%= link_to 'Nuevo Producto', new_producto_path, :class => 'btn new' %>
  </div>
<% end %>

	<% if @productos.empty? %>
    <p>No hay ningún producto.</p>
    <% end %>	
	


<div class="region list-product">
<ul>
  <% @productos.each do |producto| %>
  <li>
	<header>
	<div class="social">
	  <span>Compartir en</span>
      <ul>
	    <li class="facebook"><a href="http://www.facebook.com/sharer.php?u=<%= request.protocol + request.host_with_port + producto_path(producto) %>" target="_blank"></a></li>
	  </ul>
	</div>
    <h3><%= link_to producto.nombre, producto %></h3>
    </header>

      <%= sanitize(simple_format(truncate(producto.descripcion, :length => 50, :omission => '...')), :tags => %w(p i br b)) %>

        <%= link_to image_tag(producto.picture(:regular)), producto  %>

    <div>
	  <%= link_to "Ver más", producto, :class => 'btn' %>
      <% if can? :manage, Producto %>
        <%= link_to 'Editar', edit_producto_path(producto), :class => 'btn edit' %>
        <%= link_to 'Eliminar', producto, :confirm => '¿Estás seguro?', :method => :delete, :class => 'btn del' %>
       <% end %>
    </div>
    

  </li>
<% end %>
</ul>

</div>
</section>