<% content_for :javascript do %>
  <%= stylesheet_link_tag '/javascripts/libs/lightbox/themes/white-green/jquery.lightbox.css' %>
  <%= javascript_include_tag '/javascripts/libs/lightbox/jquery.lightbox.min.js' %>
  <script type="text/javascript">
    $(document).ready(function() {
      jQuery('.lightbox').lightbox();
    })
  </script>
<% end %>


<section id="content" class="region">
<h2 class="title"><%= page_title! 'Productos' %></h2>

<% if current_admin %>
  <div class="admin-controls">
    <%= link_to 'Nuevo Producto', new_producto_path, :class => 'btn new' %>
  </div>
<% end %>
<p>
	<% if @productos.empty? %>
    No hay ningún producto.
    <% end %>	
</p>	


<div class="region list-product">
<ul>
  <% @productos.each do |producto| %>
  <li>
	<div class="social">
	  <span>Compartir en</span>
      <ul>
	    <li class="facebook"><a href="http://www.facebook.com/sharer.php?u=<%= request.protocol + request.host_with_port + producto_path(producto) %>" target="_blank"></a></li>
	  </ul>
	</div>
    <h3><%= link_to producto.nombre, producto %></h3>
    

    <p>
      <%= producto.descripcion %>
    </p>
    <%= link_to image_tag(producto.picture(:regular)), producto.picture(:facebook), :class => 'lightbox', :rel => 'gallery-' + producto.nombre, :title => producto.nombre  %>
  
   
    <div class="video-light">
      <%= producto.video_link1_html %>
      <%= link_to '', producto.video_link1, :class => 'over lightbox', :rel => 'gallery-' + producto.nombre, :title => producto.nombre  %>
    </div>



    <div class="video-light">
      <%= producto.video_link2_html %>
      <%= link_to '', producto.video_link1, :class => 'over lightbox', :rel => 'gallery' + producto.nombre, :title => producto.nombre %>
    </div>



    <div class="video-light">
      <%= producto.video_link3_html %>
      <%= link_to '', producto.video_link1, :class => 'over lightbox', :rel => 'gallery' + producto.nombre, :title => producto.nombre %>
    </div>


    <div>
      <% if current_admin %>
        <%= link_to 'Editar', edit_producto_path(producto), :class => 'btn edit' %>
        <%= link_to 'Eliminar', producto, :confirm => '¿Estás seguro?', :method => :delete, :class => 'btn del' %>
       <% end %>
    </div>
    

  </li>
<% end %>
</ul>

</div>
</section>
















