<% content_for :javascript do %>
  <%= stylesheet_link_tag '/javascripts/libs/lightbox/themes/white-green/jquery.lightbox.css' %>
  <%= javascript_include_tag '/javascripts/libs/lightbox/jquery.lightbox.min.js' %>
  <script type="text/javascript">
    $(document).ready(function() {
      jQuery('.lightbox').lightbox();
    })
  </script>
<% end %>





<div id="content" class="region grid_8 alpha omega tab">
  <header>
	<h2 class="title">
	      <%= page_title! @producto.nombre %>
	    </h2>
	<div class="social">
			  <span>Compartir en</span>
		      <ul>
			    <li class="facebook"><a href="http://www.facebook.com/sharer.php?u=<%= request.url %>" target="_blank"></a></li>
			  </ul>
	  </div>
  </header>

	      
	
      
  <div id="content-bottom" class="region list-type">
  <%= sanitize(simple_format(@producto.descripcion), :tags => %w(p i br b)) %>

        <%= link_to image_tag(@producto.picture(:regular)), @producto.picture(:facebook), :class => 'lightbox', :rel => 'gallery' %>
      
        <div class="video-light">
	      <%= @producto.video_link1_html %>
	      <%= link_to '', @producto.video_link1, :class => 'over lightbox', :rel => 'gallery' %>
        </div>
        <div class="video-light">
	      <%= @producto.video_link2_html %>
	      <%= link_to '', @producto.video_link1, :class => 'over lightbox', :rel => 'gallery' %>
        </div>
        <div class="video-light">
	      <%= @producto.video_link3_html %>
	      <%= link_to '', @producto.video_link1, :class => 'over lightbox', :rel => 'gallery' %>
        </div>
        <div>
	      <% if can? :manage, Producto %>
            <%= link_to 'Editar', edit_producto_path(@producto), :class => 'btn' %>  
          <% end %>
          <%= link_to 'Atrás', productos_path, :class => 'btn' %>
        </div>
    
      </div>