<%= image_tag @producto.picture(:regular) %>

<p>
  <b>Nombre:</b>
  <%= @producto.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @producto.descripcion %>
</p>

<% if current_admin %>
<%= link_to 'Editar', edit_producto_path(@producto) %>
<% end %>
| <%= link_to 'Atrás', productos_path %>
