<%= image_tag @producto.picture(:regular) %>

<p>
  <b>Nombre:</b>
  <%= @producto.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @producto.descripcion %>
</p>


<%= link_to 'Editar', edit_producto_path(@producto) %> |
<%= link_to 'Atrás', productos_path %>
