<p>
  <b>Nombre:</b>
  <%= @usuario.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @usuario.apellido %>
</p>

<p>
  <b>Email:</b>
  <%= @usuario.email %>
</p>

<p>
  <b>Páis:</b>
  <%= @usuario.pais %>
</p>

<p>
  <b>Telefono:</b>
  <%= @usuario.telefono %>
</p>

<p>
  <b>Edad:</b>
  <%= @usuario.edad %>
</p>

<p>
  <b>Sexo:</b>
  <%= @usuario.sexo %>
</p>

<p>
  <b>Altura:</b>
  <%= @usuario.altura %>
</p>

<p>
  <b>Peso:</b>
  <%= @usuario.peso %>
</p>

<p>
  <b>Fuma:</b>
  <%= @usuario.fuma %>
</p>

<p>
  <b>Hobbies:</b>
  <%= @usuario.hobbies %>
</p>

<p>
  <b>Hizo dieta antes:</b>
  <%= @usuario.hizodieta %>
</p>

<p>
  <b>Donde hizo dieta:</b>
  <%= @usuario.dondehizodieta %>
</p>

<%= link_to 'Atrás', usuarios_lista_path, :class => 'btn' %>
