<h1>Listing sucursales</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Direccion</th>
    <th>Telefonos</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sucursales.each do |sucursal| %>
  <tr>
    <td><%= sucursal.nombre %></td>
    <td><%= sucursal.direccion %></td>
    <td><%= sucursal.telefonos %></td>
    <td><%= link_to 'Show', sucursal %></td>
    <td><%= link_to 'Editar', edit_sucursal_path(sucursal) %></td>
    <td><%= link_to 'Eliminar', sucursal, :confirm => '¿Estás seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva sucursal', new_sucursal_path %>
