<section id="content" class="region">
<h2 class="title"><%= page_title! 'Sucursales' %></h2>

<% if current_admin %>
<div class="admin-controls">
<%= link_to 'Agregar Nueva Sucursal', new_sucursal_path, :class => 'btn new' %>
</div>
<% end %>

<% if @sucursales.empty? %>
No hay ninguna sucursal
<% else %>

<% @sucursales.each do |sucursal| %>
<article>
  <%= image_tag(sucursal.local(:thumb)) %>
  <h3><%= sucursal.nombre %></h3>

  <%= sucursal.direccion %><br />
  <%= sucursal.telefonos %>

  <% if current_admin %>
    <div class="admin-controls">
      <%= link_to 'Editar', edit_sucursal_path(sucursal), :class => 'btn edit' %>
      <%= link_to 'Eliminar', sucursal, :confirm => '¿Estás seguro?', :method => :delete, :class => 'btn del' %>
    </div>
  <% end %>
</article>
<% end %>

<% end %>
</section>


