<%= image_tag @sucursal.local(:regular) %>

<p>
  <b>Nombre:</b>
  <%= @sucursal.nombre %>
</p>

<p>
  <b>Direccion:</b>
  <%= @sucursal.direccion %>
</p>

<p>
  <b>Telefonos:</b>
  <%= @sucursal.telefonos %>
</p>

<% if can? :manage, Sucursal %>
<%= link_to 'Editar', edit_sucursal_path(@sucursal), :class => 'btn' %>
<% end %>
<%= link_to 'Atrás', sucursales_path, :class => 'btn' %>
