<ul id="paises"> 
	<li><%= link_to 'Bolivia', '/bo/home' %></li>
	<li><%= link_to 'Guatemala', '/gt/home' %></li>
	<li><%= link_to 'Costa Rica', '/cr/home' %></li>
	<li><%= link_to 'Perú', '/pe/home' %></li>
	<li><%= link_to 'El Salvador', '/sv/home' %></li>
	<li><%= link_to 'Uruguay', '/uy/home' %></li>
</ul>