<% page_title! 'LAIN, Líder mundial en Adelgazamiento' %>

    <div style="text-align:center; width:746px; margin-left:auto; margin-right:auto;">
<img id="Image-Maps_6201207160108082" src="/images/images/mapa-lain.jpg" usemap="#Image-Maps_6201207160108082" border="0" width="746" height="608" alt="" />
<map id="_Image-Maps_6201207160108082" name="Image-Maps_6201207160108082">
<area shape="poly" coords="291,294,291,305,302,309,304,302,308,295,317,289,325,283,330,276,329,270,340,278,347,286,355,287,366,289,365,298,362,306,356,307,350,309,348,317,344,323,343,329,346,339,352,347,362,348,367,357,378,361,381,369,382,379,383,387,379,392,382,402,379,408,372,415,366,414,363,408,355,405,345,402,338,397,332,390,327,385,327,378,323,370,319,365,315,360,313,353,310,348,307,342,302,336,300,331,297,326,296,322,292,321,287,320,284,317,286,314,284,310,283,304,284,299,288,296," href="/pe/home" alt="Perú" title="Perú"   />
<area shape="poly" coords="220,158,214,158,210,155,206,151,207,147,209,140,215,138,222,136,217,132,218,128,221,125,230,124,233,131,232,138,238,140,236,145,232,148,230,152,225,154," href="http://www.image-maps.com/" alt="Guatemala" title="Guatemala"   />
<area shape="poly" coords="228,165,235,166,241,164,238,158,233,158,229,160," href="/sv/home" alt="El Salvador" title="El Salvador"   />
<area shape="poly" coords="268,182,264,180,257,179,252,179,253,187,261,192,267,200,274,199,275,194,276,189," href="/cr/home" alt="Costa Rica" title="Costa Rica"   />
<area shape="poly" coords="383,360,387,358,392,352,397,349,404,347,405,356,411,366,418,368,428,373,437,377,444,387,446,392,450,399,458,403,464,410,468,419,468,430,462,428,456,426,448,426,443,429,439,432,436,436,434,445,430,449,423,448,419,451,415,449,408,449,404,451,401,446,405,438,405,430,401,428,397,423,395,417,391,413,386,410,387,404,387,396,390,391,390,387,390,383,389,378,389,373,388,370,386,365," href="/bo/home" alt="Bolivia" title="Bolivia"   />
<area shape="poly" coords="448,459,454,464,460,467,469,474,469,481,467,489,475,491,482,492,492,491,495,488,495,481,496,475,497,470,496,464,492,462,487,462,486,458,486,453,485,449,480,447,474,447,471,447,469,443,465,436,464,433,454,432,448,433,444,436,440,443,439,450,444,457," href="/uy/home" alt="Uruguay" title="Uruguay"   />
<area shape="rect" coords="744,606,746,608" href="http://www.image-maps.com/index.php?aff=mapped_users_6201207160108082" alt="Image Map" title="Image Map" />
</map>
<!-- Image map text links - Start - If you do not wish to have text links under your image map, you can move or delete this DIV -->
<div style="text-align:center; font-size:12px; font-family:verdana; margin-left:auto; margin-right:auto; width:746px;">
	<a style="text-decoration:none; color:black; font-size:12px; font-family:verdana;" href="/pe/home" title="Perú">Perú</a>
 | 	<a style="text-decoration:none; color:black; font-size:12px; font-family:verdana;" href="/gt/home" title="Guatemala">Guatemala</a>
 | 	<a style="text-decoration:none; color:black; font-size:12px; font-family:verdana;" href="/sv/home" title="El Salvador">El Salvador</a>
 | 	<a style="text-decoration:none; color:black; font-size:12px; font-family:verdana;" href="/cr/home" title="Costa Rica">Costa Rica</a>
 | 	<a style="text-decoration:none; color:black; font-size:12px; font-family:verdana;" href="/bo/home" title="Bolivia">Bolivia</a>
 | 	<a style="text-decoration:none; color:black; font-size:12px; font-family:verdana;" href="/uy/home" title="Uruguay">Uruguay</a>
</div>
<!-- Image map text links - End - -->

</div>

<!--
<ul id="paises"> 
	<li><%= link_to 'Bolivia', '/bo/home' %></li>
	<li><%= link_to 'Guatemala', '/gt/home' %></li>
	<li><%= link_to 'Costa Rica', '/cr/home' %></li>
	<li><%= link_to 'Perú', '/pe/home' %></li>
	<li><%= link_to 'El Salvador', '/sv/home' %></li>
	<li><%= link_to 'Uruguay', '/uy/home' %></li>
</ul>
-->