<%= form_for(@testimonio, :html => { :multipart => true }) do |f| %>
  <% if @testimonio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testimonio.errors.count, "error") %> prohibited this testimonio from being saved:</h2>

      <ul>
      <% @testimonio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :descripcion, "Descripción" %><br />
    <%= f.text_area :descripcion %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br />
    <%= f.radio_button(:tipo, 'video') %> Video
    <%= f.radio_button(:tipo, 'antesydespues') %> Antes y Después
  </div>
  <br />
  <legend>Formato: http://www.youtube.com/watch?v=9tBOtSPrNik</legend>
  <div class="field" id="testimonio_video_link">
    <%= f.label :video_link, 'Video Link' %><br />
    <%= f.text_field :video_link %>
  </div>
  <div class="field" id="testimonio_foto">
	<%= f.label :imagen, 'Foto' %><br />
    <%= f.file_field :imagen %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>
<% end %>
