<h1>Listing testimonios</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Video link</th>
    <th>Tipo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @testimonios.each do |testimonio| %>
  <tr>
    <td><%= testimonio.nombre %></td>
    <td><%= testimonio.descripcion %></td>
    <td><%= testimonio.video_link %></td>
    <td><%= testimonio.tipo %></td>
    <td><%= link_to image_tag(testimonio.imagen(:thumb)), testimonio %></td>
    <td><%= link_to 'Editar', edit_testimonio_path(testimonio) %></td>
    <td><%= link_to 'Eliminar', testimonio, :confirm => '¿Estás seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo testimonio', new_testimonio_path %>
