<% content_for :javascript do %>
  <%= stylesheet_link_tag '/javascripts/libs/lightbox/themes/white-green/jquery.lightbox.css' %>
  <%= javascript_include_tag '/javascripts/libs/lightbox/jquery.lightbox.min.js' %>
  <script type="text/javascript">
    $(document).ready(function() {
      jQuery('.lightbox').lightbox();
    })
  </script>
<% end %>

<div id="content" class="region grid_8 alpha omega tab  <%= 'testimonios-' + params[:tipo] unless params[:tipo] == nil %>">
        <h2 class="title">
	      <a href="/<%= I18n.locale %>/testimonios/?tipo=video"><%= page_title! "Videos y Spots" %></a>
	      <a href="/<%= I18n.locale %>/testimonios/?tipo=antesydespues">Antes y después</a>
	    </h2>
        <% if can? :manage, Testimonio %>
	      <div class="admin-controls">
            <%= link_to 'Nuevo testimonio', new_testimonio_path, :class => 'btn' %>
          </div>
        <% end %>        

        <p>
          	Los testimonios aquí mostrados corresponden a pacientes que han seguido el Tratamiento en una
de nuestras Clínicas. Se debe aclarar que todo Tratamiento es personalizado y los resultados son
producto de la dedicación de cada paciente en lograr los objetivos trazados, con la asesoría de
nuestro personal medico. Esto quiere decir que los resultados no son iguales para todos.
        </p>       
      </div>
      
      <div id="content-bottom" class="region list-type">
	    
        <ul>
	      <% @testimonios.each do |testimonio| %>
          <li>
            <h3><%= testimonio.nombre %></h3>
            <% if testimonio.tipo == 'antesydespues' %>
              <%= link_to image_tag(testimonio.imagen(:thumb)), testimonio.imagen(:regular), :class => 'lightbox', :rel => 'gallery', :title => testimonio.descripcion %>
            <% else %>
              <%= link_to image_tag(testimonio.imagen(:thumb)), testimonio.video_link, :class => 'lightbox', :rel => 'gallery' %>
            <% end %>
            <%= sanitize(simple_format(truncate(testimonio.descripcion, :length => 50, :omission => '...')), :tags => %w(p i br b)) %>
            <% if can? :manage, Testimonio %>
              <div>
                <%= link_to 'Editar', edit_testimonio_path(testimonio), :class => 'btn' %>
                <%= link_to 'Eliminar', testimonio, :confirm => '¿Estás seguro?', :method => :delete, :class => 'btn' %>
              </div>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>

<%= will_paginate @testimonios %>