<%= image_tag @testimonio.imagen(:regular) %>

<p>
  <b>Nombre:</b>
  <%= @testimonio.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @testimonio.descripcion %>
</p>

<p>
  <b>Video link:</b>
  <%= @testimonio.video_link %>
</p>

<p>
  <b>Tipo:</b>
  <%= @testimonio.tipo %>
</p>

<% if current_admin %>
<%= link_to 'Editar', edit_testimonio_path(@testimonio) %>
<% end %>
| <%= link_to 'Atrás', testimonios_path %>
