<nav>
  <ul id="menu">
    <li class="<% if request.path_parameters[:controller] == 'home' %>selectedLava<% end %>">
      <%= link_to_unless_current 'Inicio', home_path do %>
        <span>Inicio</span>
      <% end %>
	</li>
    <li class="<% if request.path_parameters[:controller] == 'nosostros' %>selectedLava<% end %>">
      <%= link_to_unless_current 'Nosotros', nosotros_path do %>
        <span>Nosotros</span>
      <% end %>
    </li>
    <li class="<% if request.path_parameters[:controller] == 'testimonios' %>selectedLava<% end %>">
      <%= link_to_unless_current 'Testimonios', testimonios_path(:tipo => 'video') do %>
        <span>Testimonios</span>
      <% end %>
    </li>
   
    <li class="<% if request.path_parameters[:controller] == 'metodo' %>selectedLava<% end %>">
      <%= link_to_unless_current 'Método', metodo_path do %>
        <span>Método</span>
      <% end %>
    </li>
    <li class="<% if request.path_parameters[:controller] == 'entradas' %>selectedLava<% end %>">
      <%= link_to_unless_current 'Blog', blog_path do %>
        <span>Blog</span>
      <% end %>
    </li>
    <li class="<% if request.path_parameters[:controller] == 'contactos' %>selectedLava<% end %>">
      <%= link_to_unless_current 'Contacto', new_contacto_path do %>
        <span>Contacto</span>
      <% end %>
    </li>


    <% if current_usuario %>
    <li><%= link_to 'Cerrar Sesión', {:controller=>"devise/sessions", :action=>"destroy"} %></li>
    <% end %>
  </ul>
</nav>
