<nav>
  <ul id="menu">
    <li class="<% if request.path_parameters[:controller] == 'home' %>selectedLava<% end %>">
      <%= link_to_unless_current 'Inicio', home_path do %>
        <span>Inicio</span>
      <% end %>
	</li>
    <li class="<% if request.path_parameters[:controller] == 'nosostros' %>selectedLava<% end %>">
      <%= link_to_unless_current 'Nosotros', nosotros_path do %>
        <span>Nosotros</span>
      <% end %>
    </li>
    <li class="<% if request.path_parameters[:controller] == 'testimonios' %>selectedLava<% end %>">
      <%= link_to_unless_current 'Testimonios', testimonios_path(:tipo => 'video') do %>
        <span>Testimonios</span>
      <% end %>
    </li>
    <li class="<% if request.path_parameters[:controller] == 'productos' %>selectedLava<% end %>">
      <%= link_to_unless_current 'Productos', productos_path do %>
        <span>Productos</span>
      <% end %>
    </li>
    <li class="<% if request.path_parameters[:controller] == 'metodo' %>selectedLava<% end %>">
      <%= link_to_unless_current 'Método', metodo_path do %>
        <span>Método</span>
      <% end %>
    </li>
    <li class="<% if request.path_parameters[:controller] == 'entradas' %>selectedLava<% end %>">
      <%= link_to_unless_current 'Blog', blog_path do %>
        <span>Blog</span>
      <% end %>
    </li>
    <li class="<% if request.path_parameters[:controller] == 'sucursales' %>selectedLava<% end %>">
      <%= link_to_unless_current 'Sucursales', sucursales_path do %>
        <span>Sucursales</span>
      <% end %>
    </li>
    <li class="<% if request.path_parameters[:controller] == 'contactos' %>selectedLava<% end %>">
      <%= link_to_unless_current 'Contacto', current_admin ? contactos_path : new_contacto_path do %>
        <span>Contacto</span>
      <% end %>
    </li>
    <% if can? :manage, Usuario %>
      <li class="<% if request.path_parameters[:controller] == 'usuarios' %>selectedLava<% end %>">
      <%= link_to_unless_current 'Usuarios', usuarios_lista_path do %>
        <span>Usuarios</span>
      <% end %>
      </li>
    <% end %>

  </ul>
</nav>
