<nav>
  <ul id="menu">
    <li class="<% if request.path_parameters[:controller] == 'home' %>selectedLava<% end %>">
      <%= link_to_unless_current 'Inicio', home_path do %>
        <span>Inicio</span>
      <% end %>
	</li>
    <li class="<% if request.path_parameters[:controller] == 'nosotros' %>selectedLava<% end %>">
      <%= link_to 'Nosotros', nosotros_path %>
    </li>
    <li class="<% if request.path_parameters[:controller] == 'testimonios' %>selectedLava<% end %>">
      <%= link_to 'Testimonios', testimonios_path %>
    </li>
    <li class='<% if request.path_parameters[:controller] == 'blog' %>selectedLava<% end %>'><%= link_to 'Método', metodo_path %></li>
    <li><%= link_to 'Blog', blog_path %></li>
    <li><%= link_to 'Contacto', new_contacto_path %></li>
    <% if current_usuario %>
    <li><%= link_to 'Cerrar Sesión', {:controller=>"devise/sessions", :action=>"destroy"} %></li>
    <% end %>
  </ul>
</nav>
