    <% if !current_usuario %>
     <!-- block 1 -->
     <div id="block-registrate" class="block">
       <div class="inner grid_4">
         <% if I18n.locale == :cr %>
           <%= image_tag '/images/images/sidebar-costarica.png' %> 
         <% else %>
         <% if !current_usuario %>
            <img src="/images/images/sidebar-registrate.png" />
          <% end %>
      <% end %>
     </div>
        </div>
    <% end %>
      
      <!-- block 2 -->
      <div id="block-contactanos" class="block">
        <span>Cont&aacute;ctanos <%= image_tag '/images/countries-flags/flag-' + I18n.locale.to_s  + '.jpg', :class => 'flag' %></span>
        <div class="content">
          <% if @informacion %>
          <p>          
            <%= @informacion.telefono_fijo %><br />
            <%= @informacion.llamada_gratuita %><br />
            <span class="email"><%= @informacion.email %></span>
          </p>
          <% end %>
        </div>
      </div>
      
      <!-- block 3 -->
      <div id="block-computest" class="block">
        <span>Computest</span>
        <div class="content">
          <%= link_to image_tag('/images/images/sidebar-computest.png'), new_computest_path %>
        </div>
      </div>
      
      <% if I18n.locale == :pe %>
      <!-- block 4 -->
      <div id="block-info-provincias" class="block">
	    <%= link_to image_tag('/images/images/sidebar-info-provincias.png'), 'http://www.summerkit.net', :target => '_blank' %>
      </div>
      <% end %>
      
      <!-- block 5 -->
      <div id="block-lain-anios" class="block">
        <%= image_tag('/images/images/sidebar-26-anios.png') %>
      </div>
      
      <!-- block 6 -->
      <% if @informacion %>
      <div id="block-facebook" class="block">
        <%= link_to image_tag("/images/images/sidebar-facebook.png"), @informacion.facebook, :target => '_blank' %>
      </div>
      <% end %>