     <% if I18n.locale == :cr %>
       <%= image_tag '/images/images/sidebar-costarica.png' %> 
     <% else %>
       <% if !current_usuario %>
        <!-- block 1 -->
        <div id="block-registrate" class="block">
          <div class="inner grid_4">
            <img src="/images/images/sidebar-registrate.png" />
          </div>
        </div>
        <% end %>
      <% end %>
      
      <!-- block 2 -->
      <div id="block-contactanos" class="block">
        <span>Cont&aacute;ctanos</span>
        <div class="content">
          <% if @informacion %>
          <p>          
            <%= @informacion.telefono_fijo %><br />
            <%= @informacion.llamada_gratuita %><br />
            <%= @informacion.email %>
          </p>
          <% end %>
        </div>
      </div>
      
      <!-- block 3 -->
      <div id="block-computest" class="block">
        <span>Computest</span>
        <div class="content">
          <%= image_tag '/images/images/sidebar-computest.png' %>
        </div>
      </div>
      
      <!-- block 4 -->
      <div id="block-info-provincias" class="block">
	    <%= image_tag('/images/images/sidebar-info-provincias.png') %>
      </div>
      
      <!-- block 5 -->
      <div id="block-lain-anios" class="block">
        <%= image_tag('/images/images/sidebar-26-anios.png') %>
      </div>
      
      <!-- block 6 -->
      <div id="block-facebook" class="block">
        <img src="/images/images/sidebar-facebook.png" />
      </div>