<h1>Listando informaciones</h1>

<table>
  <tr>
    <th>Telefono fijo</th>
    <th>Llamada gratuita</th>
    <th>Email</th>
    <th>Facebook</th>
    <th></th>
    <th></th>
  </tr>

<% @informaciones.each do |informacion| %>
  <tr>
    <td><%= informacion.telefono_fijo %></td>
    <td><%= informacion.llamada_gratuita %></td>
    <td><%= informacion.email %></td>
    <td><%= informacion.facebook %></td>
    <td><%= link_to 'Editar', edit_informacion_path(informacion) %></td>
    <td><%= link_to 'Eliminar', informacion, :confirm => '¿Estás seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<% if @informaciones.empty? %>
  <%= link_to 'Ingresar Información', new_informacion_path %>
<% end %>
