<h1>Listing informaciones</h1>

<table>
  <tr>
    <th>Telefono fijo</th>
    <th>Llamada gratuita</th>
    <th>Email</th>
    <th>Facebook</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @informaciones.each do |informacion| %>
  <tr>
    <td><%= informacion.telefono_fijo %></td>
    <td><%= informacion.llamada_gratuita %></td>
    <td><%= informacion.email %></td>
    <td><%= informacion.facebook %></td>
    <td><%= link_to 'Show', informacion %></td>
    <td><%= link_to 'Edit', edit_informacion_path(informacion) %></td>
    <td><%= link_to 'Destroy', informacion, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Informacion', new_informacion_path %>
