

<p>
  <b>Telefono fijo:</b>
  <%= @informacion.telefono_fijo %>
</p>

<p>
  <b>Llamada gratuita:</b>
  <%= @informacion.llamada_gratuita %>
</p>

<p>
  <b>Email:</b>
  <%= @informacion.email %>
</p>

<p>
  <b>Facebook:</b>
  <%= @informacion.facebook %>
</p>


<%= link_to 'Editar', edit_informacion_path(@informacion), :class => 'btn' %> |
<%= link_to 'Atrás', informaciones_path, :class => 'btn' %>
